.input-vertical-checkbox {
    display: flex;
    flex-direction: column;
    width: 128px;
    padding-block: 1rem;
    padding-inline: 3rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
}

.input-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-checkbox-field {
    height: 1.2rem;
    width: 1.2rem;
}