.dropdown-elem {
  width: fit-content;
  height: auto;
  border: 1px solid black;
  border: 1rem;
  padding: 2rem;
}

.dropdown-btn {
  position: relative;
  width: 256px;
  padding: 1rem;
  font-family: sans-serif;
  border: 1px solid rgb(60, 133, 77);
  border-radius: 5rem;
  margin: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-menu {
  position: absolute;
  width: 256px;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid rgb(60, 133, 77);
  border-radius: 0.25rem;
  margin: 0.5rem;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
}

.dropdown-menu-item {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu-item label {
  font-size: 18px;
}

.dropdown-menu-item input[type=checkbox] {
  width: 24px;
}
